
.editor-mode .pgHead {
    display: none;
}

.editor-mode .pedal, .editor-mode .rest, .editor-mode .fermata, .editor-mode .artic, .editor-mode .slur, .editor-mode .tempo, .editor-mode .tupletNum, .editor-mode .tupletBracket {
    display: none;
}

.viewer-mode .slur, .viewer-mode .rest, .viewer-mode .pedal {
    display: none;
}
